@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");

:root {
  /* ### Primary */

  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  /* Font */
  --fs: 15px;

  --fw-primary: "Alata", sans-serif;
  --fw-secondary: "Josefin Sans", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
}

/***
    The new CSS reset - version 1.7.3 (last updated 7.8.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol
      *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
  display: block;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
- fix for the content editable attribute will work properly.
- webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

body {
  font-size: var(--fs);
  font-family: var(--fw-primary);
}

.container {
  max-width: 77%;
  margin-inline: auto;
}

header {
  padding-top: 4.75rem;
  background-image: url(./images/mobile/image-hero.jpg);
  background-repeat: no-repeat;
  position: relative;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  z-index: 20;
}
.toggle-button {
  z-index: 10;
}

.primary-navigation {
  display: none;
}

.primary-navigation[data-visible="true"] {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--black);
  color: var(--white);
  z-index: 10;
  padding: 20rem 3rem;
}

.primary-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 3rem;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.hamburger-button,
.close-button {
  display: none;
}

.toggle-button[aria-expanded="false"] .hamburger-button {
  display: block;
}
.toggle-button[aria-expanded="true"] .close-button {
  display: block;
}

.hero {
  padding-top: 20.25rem;
  padding-bottom: 28rem;
}

.hero h1 {
  font-size: 5rem;
  color: var(--white);
  font-family: var(--fw-secondary);
  text-transform: uppercase;
  padding: 3.25rem;
  border: 4px solid var(--white);
}

.about > .container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.about__content {
  padding-inline: 2rem;
  text-align: center;
}

.about__content h2 {
  font-size: 4.5rem;
  font-family: var(--fw-secondary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.about__content p {
  color: var(--dark-gray);
  font-size: 2rem;
}

.creation {
  margin-block: 11.5rem;
}

.creation__header h2 {
  font-size: 4.5rem;
  font-family: var(--fw-secondary);
  text-transform: uppercase;
  text-align: center;
  margin-block: 2.5rem;
}

.creation__item {
  position: relative;
}

.creation__body {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.875rem;
}

.creation__item {
  cursor: pointer;
}
.creation__item:hover.creation__item > picture > img {
  opacity: 0.5;
}

.creation__item:hover.creation__item > p {
  color: var(--black);
}

.creation__item > p {
  color: var(--white);
  font-size: 3.5rem;
  font-family: var(--fw-secondary);
  text-transform: uppercase;
  position: absolute;
  bottom: 52px;
  left: 42px;
  right: 270px;
}

.see-all__button {
  display: block;
  font-family: var(--fw-primary);
  letter-spacing: 0.51rem;
  text-transform: uppercase;
  border: 2px solid black;
  padding: 0.875rem 2.375rem;
}

.see-all__button:hover {
  background-color: var(--black);
  color: var(--white);
}

.see-all__button.desktop-view-button {
  display: none;
}

.see-all__button.mobile-view-button {
  display: block;
  width: max-content;
  margin-inline: auto;
}

footer {
  background-color: var(--black);
  color: var(--white);
  padding-block: 7rem;
  font-size: 1.5rem;
  text-align: center;
}

footer > .container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.footer__utility > img {
  margin-inline: auto;
}

.footer-navigation ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

.footer__social-media ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
  color: var(--very-dark-gray);
}

.footer__social-media p {
  color: var(--dark-gray);
}

li > a {
  position: relative;
}
ul > li > a:hover::after {
  content: "";
  outline: 2px solid white;
  position: absolute;
  top: 40px;
  left: 5px;
  right: 5px;
}

@media screen and (min-width: 375px) {
  .hero {
    padding-top: 10.25rem;
    padding-bottom: 10rem;
  }

  .primary-navigation[data-visible="true"] {
    top: -150px;
  }

  .primary-navigation ul {
    font-size: 1rem;
  }

  .hero h1 {
    font-size: 2rem;
  }

  .about__content h2 {
    font-size: 1.5rem;
  }

  .about__content p {
    font-size: 1rem;
  }

  .creation {
    margin-block: 5.5rem;
  }

  .creation__header h2 {
    font-size: 1.5rem;
  }

  .creation__item p {
    font-size: 1.5rem;
    bottom: 8px;
    left: 25px;
  }
}

@media screen and (min-width: 768px) {
  header {
    background-image: url(./images/desktop/image-hero.jpg);
  }

  .container {
    max-width: 77%;
    margin-inline: auto;
  }

  .toggle-button {
    display: none;
  }

  .primary-navigation {
    display: block;
  }

  .primary-navigation ul {
    flex-direction: row;
    color: var(--white);
    font-size: 1rem;
  }

  .hero {
    padding-block: 7.875rem;
  }

  .hero h1 {
    font-size: 4rem;
    width: min-content;
  }

  .about {
    text-align: left;
  }

  .about > .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: unset;
    position: relative;
  }

  .about__content {
    padding: 6.125rem;
    padding-right: 0rem;
    background-color: white;
    z-index: 10;
    position: absolute;
    right: 0%;
    top: 24%;
    left: 48%;
  }

  .about__content h2 {
    font-size: 2.5rem;
    text-align: left;
    margin-bottom: 1rem;
  }

  .about__content p {
    font-size: 1rem;
    text-align: left;
  }

  .see-all__button.desktop-view-button {
    display: block;
    font-family: var(--fw-primary);
    letter-spacing: 0.51rem;
    text-transform: uppercase;
    border: 2px solid black;
    padding: 0.875rem 2.375rem;
  }

  .see-all__button.mobile-view-button {
    display: none;
  }

  .creation__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .creation__header h2 {
    font-size: 3rem;
  }

  .creation__body {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.875rem;
  }

  .creation__item > p {
    font-size: 2rems;
    right: 40px;
  }

  footer {
    padding-block: 3rem;
    font-size: 1.2rem;
  }

  footer > .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-navigation > ul {
    flex-direction: row;
    margin: 0;
  }

  .footer__utility {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__utility > img {
    float: left;
    width: fit-content;
    margin: unset;
  }

  .footer__social-media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer__social-media > ul {
    margin-left: auto;
    margin-bottom: 1rem;
  }
}
